# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.whl
*.egg-info/
.env
.venv

# -----------------------------
# Jupyter Notebooks
# -----------------------------
.ipynb_checkpoints/
**/.ipynb_checkpoints

# -----------------------------
# Spark Temporary Outputs
# -----------------------------
**/outputs/*/
**/outputs/*.crc
**/outputs/_SUCCESS

# Spark temp working folders
**/spark-warehouse/
**/metastore_db/

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# OS Files
# -----------------------------
*.DS_Store
Thumbs.db

# -----------------------------
# Data (large files)
# Allow dataset folder but ignore CSVs by default
# -----------------------------
dataset/*.csv
data/*.csv

# Uncomment if you want to track some sample small test files
# !dataset/sample.csv

# -----------------------------
# Logs
# -----------------------------
logs/
*.log
